<% content_for :title, @user == current_user ? "マイページ" : "#{@user.name}のユーザー情報" %>
    <h3><%= @user.name %>の情報</h3>
        <ul class = "user_box">
            <li>名前: <%= @user.name %></li>
            <li>メールアドレス: <%= @user.email %></li>
            <li>権限: <%= role_label(@user.role) %></li>
        </ul>
