<% content_for :title, "マイページ" %>
<h2><%= current_user.name %>の情報</h2>
<ul class = "user_box">
    <li>name: <%=current_user.name%></li>
    <li>email: <%=current_user.email%></li>
    <li>role: <%=current_user.role%></li>
</ul>
