<% content_for :title, "ホームページ" %>
<li>
    <ul><%=link_to "管理一覧",users_path%></ul>
    <ul><%=link_to "#{current_user.name}のマイページ",user_path(current_user)%></ul>
    <ul><%=button_to "ログアウト",logout_path,method: :delete%></ul>
</li>