/*
 *= require_tree .
 *= require_self
 */

 
.title {
  text-align: left;
}
 

body {
  background-color: rgb(11, 31, 58);
  width: flex;
  text-align: center;
  color: white;
  margin: 0px;
}

ul, ol {
  list-style: none;
}

/*基本的なボックス*/
.user_box {
  margin: 30px auto;
  padding: 5px 50px;
  width: fit-content;
  background-color: rgba(34, 34, 36, 0.8);
  align-items: center;
}

.button_to button{
  width: fit-content;
  border-radius: 50px;
  min-width: 8em;
  height:3em;
  margin-top:10px;
  padding: 5px 5px 5px 5px;
}

.float{
  position: fixed;
  border-radius: 50px;
  bottom: 30px;
  right: 30px;
  padding: 6px 40px;
}

/*権限確認ボックス*/
.check_box{ 
  margin: 2px auto;
  width: fit-content;
  padding: 1px 100px;
  box-sizing: border-box;
  height: flex;
  background-color: rgba(34, 34, 36, 0.8);
}

