.form_box{
  margin: 10px auto;
  width: fit-content;
  padding: 20px 20px;
  box-sizing: border-box;
  height: flex;
  background-color: rgba(34, 34, 36, 0.8);
}

.form-field{
  width: stretch;
  padding-left: 8px;
  border-radius: 25px;
  height: 2em;
  font-size: 15px;
}

.form-button{
  width: fit-content;
  border-radius: 50px;
  min-width: 7em;
  height:3em;
  margin-top:10px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.form-select{
  width: stretch;
  padding-left: 8px;
  border-radius: 25px;
  height: 2em;
  font-size: 15px;
}